<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{%static 'image/logo.svg' %}" type="image/icon type">
     <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>{%block title%}{% endblock %} </title>
    <style>
     @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
 nav a:hover{
    background-color:yellow;
    color: black;
        nav a:active{
        color:red;
        }
        .info{
        color:red;
        }
        .success{
        color:green;
        }

    </style>
</head>
<body>
	<div class="container">
        {% block content%} {% endblock %}

	</div>

        {% block js%}
    <script>
        console.log("Working")
    </script>
    {% endblock js %}
<script src="{%static 'js/bootstrap.min.js' %}"></script>
<script src="{%static 'js/jquery-3.5.1.js' %}"></script>
</body>
</html>