{% extends 'base.html'%}
{% load static%}
{%block title%}SIGN_UP_PAGE{% endblock %}
 {% block content%}
<div class="container">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
             <div class="cart-text text-center mt-5 border bg-light p-5">
                 <h3>Errors page...</h3>

             <p><a href="{% url 'login' %}">Back to login</a> </p>

             </div>
          </div>
          <div class="col-md-3"></div>

      </div>
</div>
{% endblock content%}