{% extends 'base.html'%}
{% load static%}
{% load widget_tweaks %}
{%block title%}password_rest_confirm{% endblock %}
 {% block content%}


   <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
 {% render_field form.new_password1 class="form-control" placeholder="Create password..." %}
 {% render_field form.new_password2 class="form-control mt-3 mb-3" placeholder="Confirm password..." %}
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </div>


{% endblock content%}