{% load static %}
<!--Navbar-->
<div class="border-right border-warning h-100">
    <!--photo-->

    {% if request.user.is_authenticated %}

    <h5 class="text-center st-font"><b>{{ user.first_name }}</b></h5>{%endif%}
    <p>Welcome, Thanks for logging in.</p>
    <hr class="border-light">
    <!--link-->
    <nav class="nav flex-column text-center text-danger">
<a href="{% url 'profile' %}" class="nav-link active">Profile</a>
        <a href="{% url 'profileup' %}" class="nav-link">Profile update</a>
        <a href="{%url 'change1' %}" class="nav-link mx-2">Change Password</a>
        <a href="{%url 'user_logout' %}" class="nav-link btn-outline-danger mx-2">Logout</a>
    </nav>
</div>